aiscribe.txt
aiscribe2.txt
settings.txt

.venv
__pycache__
build
dist
recording.wav
output
client.spec
.aider*
.DS_Store

realtime.wav
src/FreeScribe.client/models
freescribe-client.spec
scripts/FreeScribeInstaller.exe
