--index-url https://abetlen.github.io/llama-cpp-python/whl/cu121 --extra-index-url https://pypi.org/simple
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.6.0
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dateparser==1.2.0
distro==1.9.0
exceptiongroup==1.2.2
Faker==30.0.0
filelock==3.16.1
fsspec==2024.9.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.10
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
llvmlite==0.43.0
MarkupSafe==2.1.5
more-itertools==10.5.0
mpmath==1.3.0
networkx==3.3
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
openai==1.50.2
openai-whisper==20240927
packaging==24.1
pefile==2024.8.26
phonenumbers==8.13.46
PyAudio==0.2.14
pydantic==2.9.2
pydantic_core==2.23.4
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyperclip==1.9.0
python-dateutil==2.9.0.post0
python-stdnum==1.20
pytz==2024.2
pywin32-ctypes==0.2.3
regex==2024.9.11
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
scrubadub==2.0.1
six==1.16.0
sniffio==1.3.1
SpeechRecognition==3.10.4
sympy==1.13.3
textblob==0.15.3
threadpoolctl==3.5.0
tiktoken==0.7.0
torch==2.2.2
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
docker==7.1.0
markdown==3.7
tkhtmlview==0.3.1 
llama-cpp-python==v0.2.90
